@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap')
	;

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.navbar-container, .navbar-container-functions{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 3px;
}

.navbar-container{
	background: rgb(157, 5, 32);
}

.navbar-container h1{
	color: #FFF;
	font-size: 1.5em;
	margin: 0;
}

.navbar-container-functions{
	list-style-type: none;
}

